<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 1.0.2, Copyright 2016, Fabio1971</string>
	<key>CFBundleIdentifier</key>
	<string>org.eason329.injector.AMD-SATA-unsupported</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AHCIPort</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMD-FCH-AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>FCH SATA Controller [AHCI]</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci1022,7801</string>
				<string>pci1022,7804</string>
				<string>pci1022,7901</string>
				<string>pci1022,7904</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>AMD</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Made by Fabio1971 from insanelymac.com. Modified by eason329 from GitHub.</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
